.login-submit {
    background-color: $netis-primary;
    font-size: 15px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 100%;
    &:hover {
        color: #fff;
        background-color: #457766;
        box-shadow: 2px 2px 12px -2px rgba(29, 226, 160,0.59);
    }
    &:disabled {
        color: #fff;
        background-color: #457766;
        cursor: no-drop;
    }
}

.btn-netis-color,
.btn-netis-color:hover {
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    background-color: $netis-primary;
    border: none;
    width: auto;
    border-radius: 10px;
}
.btn-netis-outline {
    border: 2px solid  $netis-primary;
    background-color: #fff;
    color:  $netis-primary;
    border-radius: 10px;
}

.btn-netis-outline:hover{
    border: 2px solid  #fff;
    background-color: $netis-primary;
    color:  #fff;
}

.btn-netis-success,
.btn-netis-success:hover {
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    background-color:#5cb85c;
    border: none;
    width: auto;
    border-radius: 10px;
}

.btn-netis-danger,
.btn-netis-danger:hover {
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    background-color: #f86c6b;
    border: none;
    width: auto;
    border-radius: 10px;
}

.btn-white,
.btn-white:hover {
    color: $netis-primary;
    font-size: 0.9em;
    font-weight: 600;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.btn-main-rounded,
.btn-main-rounded:hover {
    background-color: $netis-primary;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 20px;
    &:hover {
        color: #fff;
        background-color: #457766;
        box-shadow: 2px 2px 12px -2px rgba(29, 226, 160,0.59);
    }
}

.btn-outline-rounded,
.btn-outline-rounded:hover {
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    color: $netis-primary;
    border: 2px solid $netis-primary;
    border-radius: 20px;
    &:hover {
        color: #fff;
        background-color: #457766;
        box-shadow: 2px 2px 12px -2px rgba(29, 226, 160,0.59);
    }
}

.btn.disabled, .btn:disabled {
    cursor: no-drop;
}